body {

    margin: 0px;

}

.pager {

    position: absolute;

    right: 5px;

    top: 5px;

}

.pager a {

    color: #573331;

    outline: medium none;

    text-decoration: none;

}

.pager .prev {

    height: 9px;

    padding-left: 35px;

    font-size: 14px;

    margin-right: 30px;

}

.pager .next {

    height: 9px;

    padding-right: 15px;

    font-size: 14px;

    font-weight: bold;

}

#contact {

    width: 199px;

    margin-top: 30px;

    position: absolute;

}

#contact h3 {

    color: #537189;

    text-align: center;

    font-size: 15px;

}

#contact p {

    font-size: 13px;

    text-align: center;

    color: #573331;

}

#contact .apoint {

    font-size: 13px;

    margin-top: 20px;

    font-weight: bold;

}

#conInfo {

    width: 199px;

    margin-top: 30px;

    position: absolute;

}

#conInfo p {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 17px;

    text-align: center;

    color: #fff;

    line-height: 25px;

}

#conInfo span {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 9px;

    text-align: center;

    color: #fff;

    margin-top: 10px;

}

#wrapper {

    top: 0px;

    border-style: none;

    border-width: 1px;

    width: 1000px;

    height: 670px;

    /*margin-left:auto;

    margin-right:auto;*/

    position: relative;

}

#bpLogo {

    top: 0px;

    left: 10px;

    position: absolute;

    width: 203px;

    height: 42px;

}

#bpLogo img {

    border-style: none;

}

#topRightNav {

    top: 0px;

    left: 611px;

    position: absolute;

    width: 240px;

    height: 40px;

}

#topBand {

    top: 40px;

    left: 0px;

    position: absolute;

    width: 1000px;

    height: 17px;

    background-image: url(../images/band.gif);

    overflow: hidden;

}

#main {

    margin-left: auto;

    margin-right: auto;

    top: 85px;

    left: 0px;

    height: 585px;

    width: 1000px;

    background-color: #DFDDDD;

    background-image: url(../images/logobackground.png);

    background-repeat: no-repeat;

    position: absolute;

    overflow: hidden;

}

#leftArrow {

    width: 36px;

    height: 57px;

    background-image: url(../images/leftarrow.gif);

    position: absolute;

    left: 30px;

    top: 256px;

}

#rightArrow {

    width: 36px;

    height: 57px;

    background-image: url(../images/rightarrow.gif);

    position: absolute;

    left: 959px;

    top: 256px;

}

/* Start customizer */

#customizer {

    width: 801px;

    height: 585px;

    background-color: #DFDDDD;

    position: absolute;

    top: 2px;

    left: 199px;

    background-image: url(../images/vignette_bath_bleeker_beige.jpg);

    overflow: hidden;

}

#customizerContents {

    width: 801px;

    height: 585px;

    position: relative;

}

#customizer_tub {

    position: absolute;

    height: 130px;

    width: 325px;

    top: 331px;

    left: 231px;

    display: none;

    background-image: url(../images/tubwavebiscuit.png);

    z-index: 2;

}

#customizer_tub_corner_shower {

    position: absolute;

    height: 130px;

    width: 325px;

    top: 331px;

    left: 231px;

    display: none;

    background-image: url(../images/tubwavebiscuit.png);

    z-index: 2;

}

#customizer_tub_separate_shower_bath {

    position: absolute;

    height: 217px;

    width: 302px;

    top: 295px;

    left: 0px;

    display: none;

    background-image: url(../images/tubwavebiscuit.png);

    z-index: 2;

}

#customizer_tub_shower {

    position: absolute;

    height: 130px;

    width: 325px;

    top: 331px;

    left: 231px;

    display: none;

    background-image: url(../images/shower_shower_almond.png);

    z-index: 2;

}

#customizer_tub_accessibility_solutions {

    position: absolute;

    height: 334px;

    width: 411px;

    top: 186px;

    left: 42px;

    display: none;

    background-image: url(../images/shower_shower_almond.png);

    z-index: 2;

}

#customizer_shower_corner_shower {

    position: absolute;

    height: 112px;

    width: 207px;

    top: 350px;

    left: 357px;

    display: none;

    background-image: url(../images/shower_corner_shower_white.png);

    z-index: 2;

}

#customizer_shower_separate_shower_bath {

    position: absolute;

    height: 127px;

    width: 169px;

    top: 344px;

    left: 319px;

    display: none;

    background-image: url(../images/shower_separate_shower_bath_white.png);

    z-index: 2;

}

#customizer_shower_shower {

    position: absolute;

    height: 124px;

    width: 285px;

    top: 325px;

    left: 258px;

    display: none;

    background-image: url(../images/shower_shower_biscuit.png);

    z-index: 2;

}

#customizer_shower_cornerseat { /* new for corenr seat*/

    height: 91px;

    left: 280px;

    position: absolute;

    top: 284px;

    width: 81px;

    z-index: 2;

    display: none;

    background-image: url(../images/corner_seat_shower_almond.png);

}

#customizer_shower_accessibility_solutions {

    position: absolute;

    height: 124px;

    width: 285px;

    top: 325px;

    left: 258px;

    display: none;

    background-image: url(../images/shower_shower_biscuit.png);

    z-index: 2;

}

#customizer_soap_dish {

    position: absolute;

    height: 198px;

    width: 130px;

    top: 131px;

    left: 324px;

    display: none;

    background-image: url(../images/soapdish01white.png);

    z-index: 2;

}

#customizer_soap_dish_bath_window {

    position: absolute;

    height: 198px;

    width: 130px;

    top: 131px;

    left: 324px;

    display: none;

    background-image: url(../images/soapdish01white.png);

    z-index: 2;

}

#customizer_soap_dish_corner_shower {

    position: absolute;

    height: 198px;

    width: 130px;

    top: 110px;

    left: 375px;

    display: none;

    background-image: url(../images/soapdish01white.png);

    z-index: 2;

}

#customizer_soap_dish_separate_shower_bath_bath {

    position: absolute;

    height: 198px;

    width: 130px;

    top: 215px;

    left: 30px;

    display: none;

    background-image: url(../images/soapdish01white.png);

    z-index: 2;

}

#customizer_soap_dish_separate_shower_bath_shower {

    position: absolute;

    height: 198px;

    width: 130px;

    top: 10px;

    left: 330px;

    display: none;

    background-image: url(../images/soapdish01white.png);

    z-index: 2;

}

#customizer_soap_dish_shower {

    position: absolute;

    height: 198px;

    width: 130px;

    top: 40px;

    left: 324px;

    display: none;

    background-image: url(../images/soapdish01white.png);

    z-index: 2;

}

#customizer_soap_dish_accessibility_solutions {

    position: absolute;

    height: 198px;

    width: 130px;

    top: 20px;

    left: 150px;

    display: none;

    background-image: url(../images/soapdish01white.png);

    z-index: 2;

}

#customizer_curtainrod {

    position: absolute;

    height: 35px;

    width: 327px;

    top: 60px;

    left: 230px;

    display: none;

    background-image: url(../images/curtainrodoilbronze.png);

    z-index: 5;

}

#customizer_curtainrod_bath_window {

    position: absolute;

    height: 35px;

    width: 327px;

    top: 60px;

    left: 230px;

    display: none;

    background-image: url(../images/curtainrodoilbronze.png);

    z-index: 5;

}

#customizer_curtainrod_corner_shower {

    position: absolute;

    height: 35px;

    width: 327px;

    top: 60px;

    left: 230px;

    display: none;

    background-image: url(../images/curtainrodoilbronze.png);

    z-index: 5;

}

#customizer_curtainrod_separate_shower_bath {

    position: absolute;

    height: 110px;

    width: 302px;

    top: 13px;

    left: 00px;

    display: none;

    background-image: url(../images/curtainrod_separate_shower_bath_polishedbrass.png);

    z-index: 5;

}

#customizer_curtainrod_accessibility_solutions {

    position: absolute;

    height: 96px;

    width: 377px;

    top: 0px;

    left: 50px;

    display: none;

    background-image: url(../images/curtainrod_accessibility_solutions_polishedbrass.png);

    z-index: 5;

}

#customizer_curtainrod_shower {

    position: absolute;

    height: 54px;

    width: 291px;

    top: 52px;

    left: 272px;

    display: none;

    background-image: url(../images/curtainrod_shower_oilbronze.png);

    z-index: 5;

}

#customizer_fixture {

    position: absolute;

    height: 279px;

    width: 105px;

    top: 90px;

    left: 223px;

    display: none;

    background-image: url(../images/fixtureoilrubbedbronze.png);

    z-index: 3;

}

#customizer_fixture_bath_window {

    position: absolute;

    height: 310px;

    width: 105px;

    top: 59px;

    left: 455px;

    display: none;

    background-image: url(../images/fixture_bath_window_oilrubbedbronze.png);

    z-index: 3;

}

#customizer_fixture_corner_shower {

    position: absolute;

    height: 167px;

    width: 103px;

    top: 76px;

    left: 476px;

    display: none;

    background-image: url(../images/fixtureoilrubbedbronze.png);

    z-index: 3;

}

#customizer_fixture_separate_shower_bath {

    position: absolute;

    height: 330px;

    width: 375px;

    top: 43px;

    left: 170px;

    display: none;

    background-image: url(../images/fixtureoilrubbedbronze.png);

    z-index: 3;

}

#customizer_fixture_shower {

    position: absolute;

    height: 162px;

    width: 101px;

    top: 80px;

    left: 450px;

    display: none;

    background-image: url(../images/fixture_shower_oilrubbedbronze.png);

    z-index: 3;

}

#customizer_fixture_accessibility_solutions {

    position: absolute;

    height: 71px;

    width: 115px;

    top: 175px;

    left: 315px;

    display: none;

    background-image: url(../images/fixture_accessibility_solutions_polishedchrome.png);

    z-index: 3;

}

#customizer_fixtureWall_accessibility_solutions {

    position: absolute;

    height: 321px;

    width: 92px;

    top: 27px;

    left: 328px;

    display: none;

    background-image: url(../images/fixture_accessibility_solutions_polishedchromeb.png);

    z-index: 3;

}

#customizer_wall_surround {

    position: absolute;

    height: 473px;

    width: 345px;

    top: 0px;

    left: 224px;

    display: none;

    background-image: url(../images/wallsurround_diamond_almond.png);

    z-index: 0;

}

#customizer_wall_surround_corner_shower {

    position: absolute;

    height: 401px;

    width: 260px;

    top: 19px;

    left: 344px;

    display: none;

    background-image: url(../images/wallSurround_diamond_almond.png);

    z-index: 0;

}

#customizer_wall_surround_separate_shower_bath {

    position: absolute;

    height: 458px;

    width: 615px;

    top: 0px;

    left: 0px;

    display: none;

    background-image: url(../images/wallSurround_diamond_almond.png);

    z-index: 0;

}

#customizer_wall_surround_shower {

    position: absolute;

    height: 371px;

    width: 303px;

    top: 40px;

    left: 276px;

    display: none;

    background-image: url(../images/wallSurround_diamond_almond.png);

    z-index: 0;

}

#customizer_wall_surround_accessibility_solutions {

    position: absolute;

    height: 495px;

    width: 448px;

    top: 0px;

    left: 28px;

    display: none;

    background-image: url(../images/wallsurround_accessibility_solutions_smooth_white.png);

    z-index: 0;

}

#customizer_bath_robe {

    position: absolute;

    height: 294px;

    width: 103px;

    top: 88px;

    left: 153px;

    display: none;

    background-image: url(../images/bathrobe.png);

    z-index: 6;

}

#customizer_bath_robe_corner_shower {

    position: absolute;

    height: 294px;

    width: 103px;

    top: 88px;

    left: 153px;

    display: none;

    background-image: url(../images/bathrobe.png);

    z-index: 6;

}

#customizer_bath_robe_separate_shower_bath {

    position: absolute;

    height: 294px;

    width: 103px;

    top: 88px;

    left: 153px;

    display: none;

    background-image: url(../images/bathrobe.png);

    z-index: 6;

}

#customizer_bath_robe_shower {

    position: absolute;

    height: 294px;

    width: 103px;

    top: 88px;

    left: 153px;

    display: none;

    background-image: url(../images/bathrobe.png);

    z-index: 6;

}

#customizer_bath_robe_accessibility_solutions {

    position: absolute;

    height: 294px;

    width: 103px;

    top: 88px;

    left: 153px;

    display: none;

    background-image: url(../images/bathrobe.png);

    z-index: 6;

}

#customizer_door_frame {

    position: absolute;

    height: 334px;

    width: 323px;

    top: 45px;

    left: 235px;

    display: none;

    background-image: url(../images/door_frame_polishedchrome.png);

    z-index: 5;

}

#customizer_door_frame_bath_window {

    position: absolute;

    height: 329px;

    width: 319px;

    top: 45px;

    left: 237px;

    display: none;

    background-image: url(../images/door_frame_bath_window_oilrubbedbronze.png);

    z-index: 5;

}

#customizer_door_frame_corner_shower {

    position: absolute;

    height: 396px;

    width: 266px;

    top: 40px;

    left: 342px;

    display: none;

    background-image: url(../images/door_frame_corner_shower_polishedchrome.png);

    z-index: 5;

}

#customizer_door_frame_separate_shower_bath {

    position: absolute;

    height: 433px;

    width: 302px;

    top: 25px;

    left: 300px;

    display: none;

    background-image: url(../images/door_frame_separate_shower_bath_polishedchrome.png);

    z-index: 5;

}

#customizer_door_frame_shower {

    position: absolute;

    height: 380px;

    width: 360px;

    top: 57px;

    left: 247px;

    display: none;

    background-image: url(../images/door_frame_shower_oilrubbedbronze.png);

    z-index: 5;

}

#customizer_door_frame_accessibility_solutions {

    position: absolute;

    height: 380px;

    width: 360px;

    top: 57px;

    left: 247px;

    display: none;

    background-image: url(../images/door_frame_shower_oilrubbedbronze.png);

    z-index: 5;

}

#customizer_door_glass {

    position: absolute;

    height: 329px;

    width: 319px;

    top: 48px;

    left: 236px;

    display: none;

    background-image: url(../images/door_glass_clear.png);

    z-index: 4;

}

#customizer_door_glass_bath_window {

    position: absolute;

    height: 329px;

    width: 319px;

    top: 48px;

    left: 236px;

    display: none;

    background-image: url(../images/door_glass_clear.png);

    z-index: 4;

}

#customizer_door_glass_corner_shower {

    position: absolute;

    height: 321px;

    width: 150px;

    top: 60px;

    left: 365px;

    display: none;

    background-image: url(../images/door_glass_corner_shower_clear.png);

    z-index: 4;

}

#customizer_door_glass_separate_shower_bath {

    position: absolute;

    height: 433px;

    width: 302px;

    top: 25px;

    left: 300px;

    display: none;

    background-image: url(../images/door_glass_clear.png);

    z-index: 4;

}

#customizer_door_glass_shower {

    position: absolute;

    height: 329px;

    width: 319px;

    top: 48px;

    left: 236px;

    display: none;

    background-image: url(../images/door_glass_shower_clear.png);

    z-index: 4;

}

#customizer_door_glass_accessibility_solutions {

    position: absolute;

    height: 329px;

    width: 319px;

    top: 48px;

    left: 236px;

    display: none;

    background-image: url(../images/door_glass_shower_clear.png);

    z-index: 4;

}

#customizer_accessory_towercaddy_left {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 26px;

    left: 233px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_left_bath_window {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 27px;

    left: 233px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_left_corner_shower {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 56px;

    left: 447px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_left_separate_shower_bath_bath {

    position: absolute;

    height: 320px;

    width: 66px;

    top: 45px;

    left: 164px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_left_separate_shower_bath_shower {

    position: absolute;

    height: 350px;

    width: 350px;

    top: 45px;

    left: 205px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_left_shower {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 45px;

    left: 233px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_left_accessibility_solutions {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 45px;

    left: 233px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_right {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 28px;

    left: 455px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_right_bath_window {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 30px;

    left: 454px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_right_corner_shower {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 45px;

    left: 473px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_right_separate_shower_bath {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 45px;

    left: 473px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 1;

}

#customizer_accessory_towercaddy_right_shower {

    position: absolute;

    height: 323px;

    width: 91px;

    top: 36px;

    left: 452px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_accessory_towercaddy_right_accessibility_solutions {

    position: absolute;

    height: 472px;

    width: 148px;

    top: 0px;

    left: 253px;

    display: none;

    background-image: url(../images/accessory_towercaddy.png);

    z-index: 2;

}

#customizer_grab_bar {

    position: absolute;

    height: 149px;

    width: 180px;

    top: 160px;

    left: 300px;

    display: none;

    background-image: url(../images/grabbar16straightalmond.png);

    z-index: 2;

}

#customizer_grab_bar_bath_window {

    position: absolute;

    height: 149px;

    width: 180px;

    top: 195px;

    left: 300px;

    display: none;

    background-image: url(../images/grabbar16straightalmond.png);

    z-index: 2;

}

#customizer_grab_bar_corner_shower {

    position: absolute;

    height: 168px;

    width: 141px;

    top: 165px;

    left: 360px;

    display: none;

    background-image: url(../images/grabbar16straightalmond.png);

    z-index: 2;

}

#customizer_grab_bar_separate_shower_bath {

    position: absolute;

    height: 201px;

    width: 450px;

    top: 165px;

    left: 7px;

    display: none;

    background-image: url(../images/grabbar_separate_shower_bath_16straightalmond.png);

    z-index: 2;

}

#customizer_grab_bar_shower {

    position: absolute;

    height: 149px;

    width: 180px;

    top: 167px;

    left: 310px;

    display: none;

    background-image: url(../images/grabbar_shower_16straightalmond.png);

    z-index: 2;

}

#customizer_grab_bar_accessibility_solutions {

    position: absolute;

    height: 300px;

    width: 300px;

    top: 110px;

    left: 65px;

    display: none;

    background-image: url(../images/grabbar_shower_16straightalmond.png);

    z-index: 2;

}

#customizer_wainscoting {

    position: absolute;

    height: 263px;

    width: 801px;

    top: 213px;

    left: 1px;

    display: none;

    background-image: url(../images/wainscotingalmond.png);

    z-index: 2;

}

#customizer_wainscoting_bath_window {

    position: absolute;

    height: 263px;

    width: 800px;

    top: 238px;

    left: 1px;

    display: none;

    background-image: url(../images/wainscotingalmond.png);

    z-index: 2;

}

#customizer_wainscoting_corner_shower {

    position: absolute;

    height: 263px;

    width: 800px;

    top: 196px;

    left: 0px;

    display: none;

    background-image: url(../images/wainscotingalmond.png);

    z-index: 2;

}

#customizer_wainscoting_separate_shower_bath {

    position: absolute;

    height: 283px;

    width: 800px;

    top: 238px;

    left: 0px;

    display: none;

    background-image: url(../images/wainscoting_separate_shower_bath_white.png);

    z-index: 2;

}

#customizer_wainscoting_shower {

    position: absolute;

    height: 322px;

    width: 800px;

    top: 198px;

    left: 1px;

    display: none;

    background-image: url(../images/wainscotingalmond.png);

    z-index: 2;

}

#customizer_wainscoting_accessibility_solutions {

    position: absolute;

    height: 324px;

    width: 800px;

    top: 196px;

    left: 0px;

    display: none;

    background-image: url(../images/wainscoting_accessibility_solutions_almond.png);

    z-index: 2;

}

#customizer_wall_trim {

    position: absolute;

    height: 93px;

    width: 356px;

    top: 95px;

    left: 220px;

    display: none;

    background-image: url(../images/listello_bath_white.png);

    z-index: 1;

}

#customizer_wall_trim_bath_window {

    position: absolute;

    height: 93px;

    width: 356px;

    top: 100px;

    left: 221px;

    display: none;

    background-image: url(../images/listello_bath_window_white.png);

    z-index: 1;

}

#customizer_wall_trim_corner_shower {

    position: absolute;

    height: 55px;

    width: 254px;

    top: 130px;

    left: 347px;

    display: none;

    background-image: url(../images/listello_corner_shower_white.png);

    z-index: 1;

}

#customizer_wall_trim_separate_shower_bath {

    position: absolute;

    height: 96px;

    width: 607px;

    top: 110px;

    left: 0px;

    display: none;

    background-image: url(../images/listello_separate_shower_bath_white.png);

    z-index: 1;

}

#customizer_wall_trim_shower {

    position: absolute;

    height: 69px;

    width: 271px;

    top: 100px;

    left: 288px;

    display: none;

    background-image: url(../images/listello_shower_white.png);

    z-index: 1;

}

#customizer_wall_trim_accessibility_solutions {

    position: absolute;

    height: 90px;

    width: 399px;

    top: 85px;

    left: 51px;

    display: none;

    background-image: url(../images/listello_accessibility_solutions_white.png);

    z-index: 1;

}

/* end customizer */

.customizerOptions {

    margin-left: -36px;

}

#customizerOptionsWallSurround,
#customizerOptionsShowerDesign,
#cornerSeatMenu,
#customizerOptionsFixture{
    margin-left: -36px;
    height: 380px;
    width: 190px;
}

#customizerOptionsAccessories {

    margin-left: -36px;

    height: 280px;

    width: 190px;

}

#customizerOptionsGrabBars {

    margin-left: -36px;

    height: 190px;

    width: 190px;

}

#customizerOptionsDoor {

    margin-left: -36px;

    height: 365px;

    width: 190px;

}

#customizerDoorOptionDetail {

    width: 200px;

    height: 200px;

    background-color: #ffffff;

    position: absolute;

    top: 0px;

    left: 0px;

    display: none;

}

#customizerDoorOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #C7876B;

}

.customizerDoorOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

#customizerFixtureOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #af9d7a;

}

.customizerFixtureOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

.customizerDetailOptionImgCell {

    border-width: 0px;

    width: 145px;

    height: 145px;

}

/*---------------------------*/

#customizerTubOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.tubCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.tubCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 54px;

}

a.tubCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.tubCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

.customizerTubOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #6C7878;

}

.customizerTubOptions {

    margin-left: -4px;

}

.customizerTubOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.tubCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.tubCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.tubCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.tubCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

/*Start Curtain Rod CSS */

/*---------------------------*/

#customizerRodOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.RodCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.RodCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 54px;

}

a.RodCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.RodCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

#customizerRodOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #6C7878;

}

#customizerRodOptions {

    margin-left: -4px;

}

.customizerRodOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.RodCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.RodCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.RodCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.RodCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

/*---------------------------*/

/*End Curtain Rod CSS */

/*Start Fixture CSS */

/*---------------------------*/

#customizerFixtureOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.FixtureCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.FixtureCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 54px;

}

a.FixtureCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.FixtureCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

#customizerFixtureOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #af9d7a;

}

#customizerFixtureOptions {

    margin-left: -4px;

}

.customizerFixtureOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.FixtureCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.FixtureCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.FixtureCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.FixtureCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

/*---------------------------*/

/*End Fixture CSS */

/*Start Wall Color CSS */

/*---------------------------*/

#customizerWallColorOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.WallColorCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallColorCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WallColorCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WallColorCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

#customizerWallColorOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #B1ADAA;

}

#customizerWallColorOptions {

    margin-left: -4px;

}

.customizerWallColorOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.WallColorCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallColorCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallColorCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallColorCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

/*---------------------------*/

/*End Wall Color CSS */

/*Start Wall Surround CSS */

/*---------------------------*/

#customizerWallSurroundOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.WallSurroundCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.WallSurroundCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 54px;

}

a.WallSurroundCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.WallSurroundCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

.customizerWallSurroundOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #8194A5;

}

.customizerWallSurroundOptions {

    margin-left: -4px;

}

.customizerWallSurroundOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.WallSurroundCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallSurroundCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallSurroundCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallSurroundCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

.WallSurroundcustomizerOptionImgCell {

    border-width: 0px;

    width: 60px;

    height: 60px;

}

.WallSurroundcustomizerOptionImg {

    border-width: 0px;

    width: 54px;

    height: 54px;

}

a.WallSurroundcustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WallSurroundcustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WallSurroundcustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #B6613B;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WallSurroundcustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

/*---------------------------*/

/*End Wall Surround CSS */

/*Start Soap Dishes CSS */

/*---------------------------*/

#customizerSoapDishesOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.SoapDishesCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.SoapDishesCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 54px;

}

a.SoapDishesCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.SoapDishesCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

#customizerSoapDishesOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #8194A5;

}

#customizerSoapDishesOptions {

    margin-left: -4px;

}

.customizerSoapDishesOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.SoapDishesCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.SoapDishesCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.SoapDishesCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.SoapDishesCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

.SoapDishescustomizerOptionImgCell {

    border-width: 0px;

    width: 60px;

    height: 60px;

}

.SoapDishescustomizerOptionImg {

    border-width: 0px;

    width: 54px;

    height: 54px;

}

a.SoapDishescustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.SoapDishescustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.SoapDishescustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #B6613B;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.SoapDishescustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

/*---------------------------*/

/*End Soap Dishes CSS */

/*Start Wainscotting CSS */

/*---------------------------*/

#customizerWainsCotingOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.WainsCotingCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.WainsCotingCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 54px;

}

a.WainsCotingCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.WainsCotingCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

#customizerWainsCotingOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #8194A5;

}

#customizerWainsCotingOptions {

    margin-left: -4px;

}

.customizerWainsCotingOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.WainsCotingCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WainsCotingCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WainsCotingCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WainsCotingCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

.WainsCotingcustomizerOptionImgCell {

    border-width: 0px;

    width: 60px;

    height: 60px;

}

.WainsCotingcustomizerOptionImg {

    border-width: 0px;

    width: 54px;

    height: 54px;

}

a.WainsCotingcustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WainsCotingcustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WainsCotingcustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #B6613B;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WainsCotingcustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

/*---------------------------*/

/*End Wall Surround CSS */

/*Start Wall Trim CSS */

/*---------------------------*/

#customizerWallTrimOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.WallTrimCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.WallTrimCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 54px;

}

a.WallTrimCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.WallTrimCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

#customizerWallTrimOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #8194A5;

}

#customizerWallTrimOptions {

    margin-left: -4px;

}

.customizerWallTrimOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.WallTrimCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallTrimCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallTrimCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.WallTrimCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

.WallTrimcustomizerOptionImgCell {

    border-width: 0px;

    width: 60px;

    height: 60px;

}

.WallTrimcustomizerOptionImg {

    border-width: 0px;

    width: 54px;

    height: 54px;

}

a.WallTrimcustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WallTrimcustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WallTrimcustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #B6613B;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.WallTrimcustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

/*---------------------------*/

/*End Wall Trim CSS */

/*Start Grab Bar CSS */

/*---------------------------*/

#customizerGrabBarsOptionDetail {

    border-style: solid;

    border-width: 1px;

    background-color: #ffffff;

    position: absolute;

    top: 20px;

    left: 24px;

    display: none;

}

a.GrabBarsCustomizerOptionDetailImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.GrabBarsCustomizerOptionDetailImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 54px;

}

a.GrabBarsCustomizerOptionDetailImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

a.GrabBarsCustomizerOptionDetailImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 145px;

    height: 145px;

}

#customizerGrabBarsOptionsHeader {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #8194A5;

}

#customizerGrabBarsOptionsHeader2 {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;

    font-weight: bold;

    color: #8194A5;

}

#customizerGrabBarsOptions {

    margin-left: -4px;

}

.customizerGrabBarsOptionsDesc {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 10px;

    font-weight: normal;

    color: #74717C;

    text-align: left;

    vertical-align: top;

    margin-left: 2px;

}

a.GrabBarsCustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.GrabBarsCustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.GrabBarsCustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #6C7878;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

a.GrabBarsCustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

    text-decoration: none;

}

.GrabBarscustomizerOptionImgCell {

    border-width: 0px;

    width: 60px;

    height: 60px;

}

.GrabBarscustomizerOptionImg {

    border-width: 0px;

    width: 54px;

    height: 54px;

}

a.GrabBarscustomizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.GrabBarscustomizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.GrabBarscustomizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #B6613B;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.GrabBarscustomizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

/*---------------------------*/

/*End Grab Bar CSS */

.customizerOptionImgCell {

    border-width: 0px;

    width: 60px;

    height: 60px;

}

.customizerOptionImg {

    border-width: 0px;

    width: 54px;

    height: 54px;

}

a.customizerOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.customizerOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.customizerOptionImgLink:hover img {

    border-style: solid;

    border-color: #B6613B;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.customizerOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

.customizerDetailOptionImgCell {

    border-width: 0px;

    width: 60px;

    height: 60px;

}

.customizerDetailOptionImg {

    border-width: 0px;

    width: 54px;

    height: 54px;

}

a.customizerDetailOptionImgLink img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.customizerDetailOptionImgLink:visited img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.customizerDetailOptionImgLink:hover img {

    border-style: solid;

    border-color: #B6613B;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

a.customizerDetailOptionImgLink:active img {

    border-style: solid;

    border-color: #D8D1CA;

    border-width: 2px;

    width: 54px;

    height: 54px;

}

#menuWrapper {

    width: 199px;

    height: 585px;

    top: 0px;

    left: 0px;

    position: absolute;

    overflow: hidden;

}

#nav1Header {

    background-image: url(../images/leftnav01.gif);

    width: 199px;

    height: 42px;

    vertical-align: middle;

}

#nav2Header {

    background-image: url(../images/leftnav02.gif);

    width: 199px;

    height: 42px;

}

#nav3Header {

    background-image: url(../images/leftnav03.gif);

    width: 199px;

    height: 42px;

}

#nav4Header {

    background-image: url(../images/leftnav04.gif);

    width: 199px;

    height: 42px;

}

#nav5Header {

    background-image: url(../images/leftnav05.gif);

    width: 199px;

    height: 42px;

}

#nav6Header {

    background-image: url(../images/leftnav06.gif);

    width: 199px;

    height: 42px;

}

#nav7Header {

    background-image: url(../images/leftnav07.gif);

    width: 199px;

    height: 42px;

}

#nav8Header {

    background-image: url(../images/leftnav08.gif);

    width: 199px;

    height: 42px;

}

#nav9Header,#nav10Header {

    background-image: url(../images/leftnav01.gif);

    width: 199px;

    height: 42px;

    vertical-align: middle;

}

.customizerMenuLink {

    text-decoration: none;

    font-famly: Arial, Helvetica, sans-serif;

    font-weight: normal;

    font-size: 10px;

    color: #FFF;

}

#breadcrumb {

    background-image: url(../images/gradientheader.jpg);

    width: 1000px;

    height: 31px;

    left: 0px;

    top: 54px;

    position: absolute;

    vertical-align: middle;

    overflow: hidden;

}

#breadcrumbnavlinks {

    margin-left: 50px;

    margin-top: 8px;

}

#breadcrumbnavlinks a {

    text-decoration: none;

}

#breadcrumbnavlinks a:visited img {

    text-decoration: none;

}

#breadcrumbnavlinks a:hover img {

    text-decoration: none;

}

#breadcrumbnavlinks a:active img {

    text-decoration: none;

}

.breadcrumbTxt1 {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    color: #6D6E70;

}

.breadcrumbTxt1 a {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    color: #6D6E70;

}

.breadcrumbTxt1 a:visited {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    color: #6D6E70;

}

.breadcrumbTxt1 a:hover {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    color: #6D6E70;

}

.breadcrumbTxt1 a:active {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    color: #6D6E70;

}

.breadcrumbTxt2 {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    font-weight: bold;

    color: #816666;

}

.navLinkImg {

    border-style: none;

}

#breadcrumarrow {

    margin-top: 1px;

    position: absolute;

}

#customizer_window_bath_window {

    top: 90px;

    left: 318px;

    display: none;

    height: 154px;

    width: 139px;

    position: absolute;

    z-index: 2;

}

#designLogo {

    margin-left: auto;

    margin-right: auto;

    text-align: center;

}
.sendmain form {

    margin: auto;
    position: relative;
    width: 400px;
    height: 400px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;

}

.sendmain input {
    width: 375px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.sendmain textarea {
    width: 375px;
    height: 150px;
    display: block;
}
/*
.sendmain button {
    width: 100px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #09C;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    height: 30px;
    border-radius: 15px;
    border: 1p solid #999;
}
*/

.sendmain input.button:hover {
    background: #fff;
    color: #09C;
}
#modal a{
    outline: none;
}
.loading {
    background: white none repeat scroll 0 0;
    display: none;
    height: 760px;
    opacity: 0.6;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1024px;
    z-index: 99999999;
}
.loadingimage {
    background-color: transparent;
    height: 66px;
    left: 50%;
    margin-left: -33px;
    margin-top: -33px;
    position: fixed;
    top: 300px;
    width: 66px;
}
