@charset "utf-8";
/* CSS Document */
body {
	font-size:11px;
	color:#676767;
	font-family:Tahoma, Geneva, sans-serif;
}
html {
  height:100%;
}
* {
	margin:0;
	padding:0;
	outline:none;
}
.clr {
	clear:both;
}
ul, li {
	list-style:none;
}
a {
	text-decoration:none;
	outline:none;
    color:#573331;
}
a:hover {
	text-decoration: underline;
}
img {
	border:0;
	vertical-align:middle;
}
:focus {
	outline: 0;
}

#layout {
	width:1024px;
}
header {
	position:relative;
	height:73px;
}

#logo {
	text-align:center;
	position:absolute;
	top:0;
	left:0px;
	z-index:10;
}
#main {
	background: url(../images/steps/mainbg.png) no-repeat left top;
	width:1024px;
	height:650px;
	position:relative;
}
#main h2 {
	position:absolute;
	top:150px;
	left:540px;
	font-size:14px;
	color:#826664;
	font-weight:normal;
	line-height:22px;
	}
#main h2 span {
	font-weight:bold;
	}
#main .getstarted {
	position:absolute;
	top:260px;
	left:545px;
	}		
#main .tabs {
	position:absolute;
	left:0;
	bottom:117px;
	}

#main .tabs ul li{
	display:block;
	text-indent:-99999px;
	height:64px;
	}
#main .tabs ul li.step1 {
float:left;
background: url(../images/steps/step1-tab.png) no-repeat left top;
width:960px;
height:64px;
position:absolute;
}
#main .tabs ul li.step2 {
	float:left;
	background: url(../images/steps/step2-tab.png) no-repeat left top;
	width:960px;
	height:64px;
	display:none;
	position:absolute;
}
#main .tabs ul li.step3 {
	float:left;
	background: url(../images/steps/step3-tab.png) no-repeat left top;
	width:960px;
	height:64px;
	display:none;
	position:absolute;
}
#main .tabs ul li.step4 {
	float:left;
	background: url(../images/steps/step4-tab.png) no-repeat left top;
	width:960px;
	height:64px;
	display:none;
	position:absolute;
}

#main .hd1 {
	position:absolute;
	top:420px;
	left:220px;
	}
#main .hd2 {
	position:absolute;
	top:420px;
	left:365px;
	display:none;
	}
#main .hd3 {
	position:absolute;
	top:420px;
	left:535px;
	display:none;
	}
#main .hd4 {
	position:absolute;
	top:420px;
	left:705px;
	display:none;
	}			
#bpLogo {
    height: 42px;
    left: 10px;
    position: absolute;
    top: 18px;
    width: 203px;
}
#topBand {
    background-image: url("../images/band.gif");
    height: 17px;
    left: 0;
    position: absolute;
    top: 60px;
    width: 1025px;
}
.designstudio-logo{
	 left: 20px;
    position: absolute;
    top: 472px;
}
#breadcrumbnavlinks {
	position:relative;}	
.pager {
	position:absolute;
	right:5px;
	top:5px;
	}	
.pager .prev {
	background: url(../images/steps/prev-arrow.png) no-repeat left center;
	height:9px;
	padding-left:15px;
	font-size:14px;
	margin-right:30px;
	
	}
.pager .next {
	
		height:9px;
	padding-right:35px;
	font-size:14px;
	font-weight: bold;
	}	

#breadcrumb {
    background-image: url(../images/gradientheader.jpg);
    height: 31px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 73px;
    vertical-align: middle;
    width: 1025px;
}
.heading{
	margin-top:8px;
	
	padding-left:30px;
}
.mainhd {
	margin-top:60px;
	font-size:18px;
	padding-left:30px;
	}					
.ca-container{
	position:relative;
	margin:5px auto 10px auto;
	width:850px;
	height:255px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:280px;
	height:100%;
	text-align:center;
}



.ca-item-main{
/*	padding:20px;*/
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
/*	background:#fff;
*/	overflow:hidden;

}
.ca-icon{
	width:242px;
	height:162px;
	position:relative;
	margin:0 auto;
	border:6px solid #7b7879;
	cursor:pointer;
}
.ca-icon img{
	width:242px;
	height:162px;
}
.ca-item h3{
	
	color:#a2a0a1;
	text-align:center;
	font-weight:normal;
	margin:24px 0 0;
	
	cursor:pointer;
}



.ca-nav span{
	width:25px;
	height:44px;
	background:transparent url(../images/steps/leftarrow.png) no-repeat top left;
	position:absolute;
	top:25%;
	left:-40px;
	text-indent:-9000px;
	;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background:transparent url(../images/steps/arrowmore.png) no-repeat top right;
	left:auto;
		width:58px;
	height:44px;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}